<p>The way it serves it's good</p>
<h1>Yeee buddy</h1>
<p [ngStyle]="{backgroundColor:getColor()}" [ngClass]="{online:serverStatus==='ofline'}">You know who it is. This is {{serverId}} speakinf from {{getServerStatus()}}. This is {{'okay'}} {{getDate()}}</p>

<button class="btn btn-danger" (click)="onTime()">Do you see this?</button>
<p *ngIf="showtime"> What am I supposed to do if the best part of me was always you</p>
<div class="container">
  <div class="row" >
    <div class="col-md-3 col-sm-5 mb-5"  *ngFor="let secrets of scusisadirmilora"><p [ngStyle]="{backgroundColor:bgcolor}" [ngClass]="{sowhite:getBlue()}">Sono le {{getDate()}} <br>It is {{getDate()}}, time to sleep</p> </div>
  </div>
</div>
