<app-server></app-server>
<app-server></app-server>
<div class="container">
  <div class="row">
    <div class="col-md-4"><app-warning *ngFor="let serv of servers"></app-warning></div>
  </div>
  <div class="row">
    <p>{{serverStatus}}</p>
    <button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onCreateServer()">Add server</button>

  </div>
  <div class="row">
    <!-- <label for="">Server name</label>
    <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
    <label for="">Server name</label>
    <input type="text" class="form-control" [(ngModel)]="serverName">


<p *ngIf="serverCreated; else noServer" >this is {{serverName}}</p>
<ng-template #noServer>
  <p>There's nothing here, why?!</p>
</ng-template>
  </div>
  <div class="row mb-5" >
<p >This is {{userName}}</p>
<label >Oh nana, what's your username</label>
<input type="text" class="form-control"  [(ngModel)]="userName" >
  </div>
  <div class="row">
    <button class="btn-danger" [disabled]="userName? false:true" (click)="onResetName()">Reset</button>
  </div>
</div>

